* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: red;
	font-family: 'Roboto', sans-serif;
	font-family: 'Russo One', sans-serif;
}

.container {
	color: white;
	height: 100%;
	width: 80%;
	margin: auto;
	background-color: black;
}

header {
	width: 70%;
	margin: auto;
}
.logo-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo {
	height: 100px;
	border-radius: 50%;
}

#title-text {
	text-align: center;
	font-size: 75px;
}

.games-container {
	background-color: white;
	display: grid;
	grid-template-columns: auto 30% 30% 30%;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		'range game1 game1 game1'
		'range game2 game2 game2';
}

aside {
	grid-area: range;
	background-color: #eee;
}

.games-row {
	display: flex;
	justify-content: space-evenly;
	margin: 5px;
}

#games-row-1 {
	grid-area: game1;
}

#games-row-2 {
	grid-area: game2;
}

.game-table {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	background-color: purple;
	height: 300px;
	width: 300px;
}
