* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: red;
}

.container {
	color: white;
	height: 100%;
	width: 80%;
	margin: auto;
	background-color: black;
}

header {
	width: 80%;
	margin: auto;
	font-family: 'Russo One', sans-serif;
}
.logo-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo {
	height: 100px;
	border-radius: 50%;
}

#title-text {
	text-align: center;
	font-size: 75px;
}

.games-container {
	display: inline-block;
	text-align: center;
	margin: auto;
	background-color: white;
}

#range-slider {
	display: flex;
	font-size: 2.5em;
	font-family: 'Russo One', sans-serif;
	color: black;
	margin: 10px auto;
	padding: 0px 10px 0px 10px;
	height: 65px;
	width: 78%;
	background-color: rgb(202, 202, 202);
	border: 6px solid black;
}

#range-slider div {
	width: 25%;
}

.games-row {
	display: inline-block;
	margin: 5px;
	width: 100%;
}

.game-table {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 5px;
	background-color: rgb(0, 0, 0);
	height: 100%;
	width: 100%px;
}

.event01 {
	background-color: rgb(240, 54, 54);
}
.event02 {
	background-color: #a5009d;
}
.event03 {
	background-color: #e0bbe4;
	color: #0000ff;
}
.event04 {
	background-color: #741fc9;
}
.event05 {
	background-color: #f4f0cb;
	color: black;
}
.event06 {
	background-color: #5b0a64;
}
.event07 {
	background-color: #aac5e2;
}
.event08 {
	background-color: #312d2e;
}
.event09 {
	background-color: #e75f88;
}
.event10 {
	background-color: #fec8d8;
}

.grid {
	margin: auto;
	padding: auto;
	height: 100%;
	width: 100%;
}

table:hover {
	cursor: pointer;
}

td {
	background-color: black;
	border: 1px solid rgb(184, 184, 184);
	border-radius: 30%;
	text-align: center;
	vertical-align: middle;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
	height: 100%;
	width: 30px;
	padding: 3px;
}

.click-highlight {
	background-color: rgb(0, 255, 42);
	color: black;
	border: 1px solid rgb(1, 39, 255);
}

.highlight {
	background-color: yellow;
	color: black;
	border: 1px solid rgb(1, 39, 255);
}

.lowlight {
	background-color: black;
	color: white;
}

#call-range,
#hand-value {
	font-size: 16px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: red;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.switch-btn {
	display: flex;
	justify-content: space-evenly;
	vertical-align: middle;
	text-align: center;
	margin: auto;
}

.btn-text {
	font-size: 28px;
	color: red;
	font-family: 'Russo One', sans-serif;
}
